@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color1: #007AFF;
    --color2: #32ADE6;
    --color3: #111111;
    --color4: #ffffff;
    --color5: #78788012;
    --color6: #999999;
}

/* global configuration */

* { 
    font-family: 'Inter', sans-serif, Arial;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

/* title */

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.375rem;
}

h3 {
    font-size: 1.25rem;
}

/* text */

.bo {
    font-size: 1.063rem;
}

.co {
    font-size: 1rem;
}

.sh {
    font-size: 0.938rem;
}

.fn {
    font-size: 0.813rem;
}

.cp {
    font-size: 0.625rem;
}

/* text color */

.c1 {
    color: var(--color1);
}

.c2 {
    color: var(--color2);
}

.c3 {
    color: var(--color3);
}

.c4 {
    color: var(--color4);
}

.c5 {
    color: var(--color5);
}

.c6 {
    color: var(--color6);
}

/* font weight */

.lg {
    font-weight: 300;
}

.re {
    font-weight: 400;
}

.me {
    font-weight: 500;
}

.sb {
    font-weight: 600;
}

/* svg color */

.sc3 {
    fill: var(--color3);
}

.sc6 {
    fill: var(--color6);
}

/* svg size */

.sz1 {
    width: 1rem;
    height: 1rem;
}

.sz2 {
    width: 1.375rem;
    height: 1.375rem;
}

.sz3 {
    width: 3.125rem;
    height: 3.125rem;
}

/* flexbox */

.df {
    display: flex;
}

.fdr {
    flex-direction: row;
}

.fdc {
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcsa {
    justify-content: space-around;
}

.jce {
    justify-content: end;
}

.aic {
    align-items: center;
}

.aie {
    align-items: end;
}

.ais{
    align-items: start;
}

.fw {
    flex-wrap: wrap;
}

.fg {
    flex-grow: 1;
}

/* other */

.gp1 {
    gap: .25rem;
}

.gp2 {
    gap: 1rem;
}

.pd {
    padding: 1rem;
}

.pdt {
    padding-top: .813rem;
}

.pdb {
    padding-bottom: .813rem;
}

.hd {
    display: none;
}

.bs1 {
    box-shadow: 0px -.33px #00000030;
}

.psf {
    position: fixed;
}

.bot {
    bottom: 0;
}

.vw {
    width: 100vw;
}

/* button */

.bt1 {
    background-color: var(--color1);
    padding: .875rem 1.25rem;
    white-space: nowrap;
    border: none;
    border-radius: 2.5rem;
}

.bt2 {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--color5);
    padding: .438rem .875rem;
    white-space: nowrap;
    border: none;
    border-radius: 1.25rem;
}

.bt3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color4);
    box-shadow: 0px 0px 0px 1px #00000004, 0px 3px 8px #00000015, 0px 3px 1px #00000006;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.125rem;
}

.bt4 {
    background: none;
    border: none;
}

.bt5 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: var(--color4);
    height: 3.125em;
    border-radius: 1.563rem;
    padding-left: 1rem;
    box-shadow: 0px 0px 0px 1px #00000004, 0px 3px 8px #00000015, 0px 3px 1px #00000006; 
}