@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color1: #007AFF;
    --color2: #32ADE6;
    --color3: #111111;
    --color4: #ffffff;
    --color5: #78788012;
    --color6: #999999;
}

/* global configuration */

* { 
    font-family: 'Inter', sans-serif, Arial;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

/* title */

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.375rem;
}

h3 {
    font-size: 1.25rem;
}

/* text */

.bo {
    font-size: 1.063rem;
}

.co {
    font-size: 1rem;
}

.sh {
    font-size: 0.938rem;
}

.fn {
    font-size: 0.813rem;
}

.cp {
    font-size: 0.625rem;
}

/* text color */

.c1 {
    color: var(--color1);
}

.c2 {
    color: var(--color2);
}

.c3 {
    color: var(--color3);
}

.c4 {
    color: var(--color4);
}

.c5 {
    color: var(--color5);
}

.c6 {
    color: var(--color6);
}

/* font weight */

.lg {
    font-weight: 300;
}

.re {
    font-weight: 400;
}

.me {
    font-weight: 500;
}

.sb {
    font-weight: 600;
}

/* button */

.bt1 {
    background-color: var(--color1);
    padding: .875rem 1.25rem;
    white-space: nowrap;
    border: none;
    border-radius: 2.5rem;
}

.bt2 {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--color5);
    padding: .438rem .875rem;
    white-space: nowrap;
    border: none;
    border-radius: 1.25rem;
}

.bt3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    box-shadow: 0px 0px 0px 1px #00000004, 0px 3px 8px #00000015, 0px 3px 1px #00000006;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.125rem;
}

/* svg */

.sc3 {
    fill: var(--color3);
}

.sc6 {
    fill: var(--color6);
}

/* nav top conficuration */

.menu-title {

}

.top {
    box-shadow: 0px .33px #00000030;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.875rem;
    margin: 0 1rem;
}

.submenu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.25rem;
    margin: 0 1rem;
}

.user, .settings, .help {
    border-bottom: 1px solid var(--color5);
}

.user, .settings, .help, .exit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding: 0 1rem;
}

.float-menu {
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--color4);
    box-shadow: var(--color5) 1px 2px 6px;
    border-radius: .5rem;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 3.5rem;
    right: 1rem;
    width: 16rem;
}

.user-text-icon, .settings-text-icon, .help-text-icon, .exit-text-icon {
    color: var(--color3);
    font-size: 1em;
}

.user-icon, .settings-icon, .help-icon, .exit-icon {
    fill: var(--color3);
}

/* list view configuration */

.list-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 1rem;
}

.stock-logo {
    display: flex;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
}

.stock-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3.5rem;
}

.stock-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .25rem;
    height: 3.5rem;
}

.right-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: .25rem;
    height: 3.5rem;
}

/* nav botton configuration */

.icon-text {
    font-size: .625rem;
    font-weight: 500;
    color: var(--color6);
}

.botton {
    position: fixed;
    bottom: 0;
    width: 100vw;
    box-shadow: 0px -.33px #00000030;
}

.botton-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
}

.menu-icon {
    fill: var(--color6);
}

.stocks-icon, .watchlist-icon, .search-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .375rem;
}

/* search configuration */

.search {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 1rem;
}

.search-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: var(--color4);
    height: 3.125em;
    border-radius: 1.563rem;
    padding-left: 1rem;
    box-shadow: 0px 0px 0px 1px #00000004, 0px 3px 8px #00000015, 0px 3px 1px #00000006;
}

.search-box-icon {
    fill: var(--color6);
}

.border-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    box-shadow: 0px 0px 0px 1px #00000004, 0px 3px 8px #00000015, 0px 3px 1px #00000006;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.125rem;
}



.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    gap: 1rem;
}

.nb-2 {
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin: 1rem;
}

.nb-3 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
}