@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Roca';
    src: url(Roca\ Regular.ttf);
}

:root {
    --color1: #ffb703;
    --color2: #023047;
    --color3: #070707;
    --color4: #F2F2F7;
    --color5: #ffffff;
    --color6: #111111;
    --color7: #fb8500;
    --color8: #8ecae6;
    --color9: #07070740;
    --color10: #201717;
}

/* global configuration */

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--color3);
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

/* font family */

.ff1 {
    font-family: 'Roca', Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
}

.ff2 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* font weight */

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

/* font color */

.fc1 {
    color: var(--color1);
}

.fc2 {
    color: var(--color2);
}

.fc5 {
    color: var(--color5);
}

/* font size */

.fs1 {
    font-size: 2.375rem;
}

.fs2 {
    font-size: 2.125rem;
}

.fs3 {
    font-size: 1rem;
}

.fs4 {
    font-size: 1rem;
}

.fs5 {
    font-size: 0.75rem;
}

.fs6 {
    font-size: 0.6875rem;
}

.fs7 {
    font-size: 1.75rem;
}

.fs8 {
    font-size: 0.875rem;
}

.fs9 {
    font-size: 1.375rem;
}

/* text decoration */

.lt {
    text-decoration: line-through;
}

.tdul {
    text-decoration: underline;
    text-underline-position: under;
}

/* line spacing */

.lh {
    line-height: 1;
}

.ls {
    letter-spacing: -1px;
}

/* flexbox */

.df {
    display: flex;
}

.fd {
    flex-direction: column;
}

.fw {
    flex-wrap: wrap;
}

.ai {
    align-items: center;
}

.ais {
    align-items: start;
}

.jc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.ta {
    text-align: center;
}

/* spacing */

.gp1 {
    gap: .5rem;
}

.gp2 {
    gap: 1rem;
}

.gp3 {
    gap: 2rem;
}

.gp4 {
    gap: 4rem;
}

.pd1 {
    padding: 1rem;
}

.pd2 {
    padding: 3.5rem 1.5rem;
}

.pd3 {
    padding: 2rem;
}

.pd4 {
    padding: 3rem;
}

.pd5 {
    padding: 1.5rem 1.5rem;
}

.pl {
    padding-left: 1rem;
}

.mg1 {
    margin: auto;
}

.mg2 {
    margin: 0 0 1rem 0;
}

.mg3 {
    margin: 0.25rem 0 0 0;
}

/* background color */

.bgc1 {
    background-color: var(--color1);
}

.bgc2 {
    background-color: var(--color2);
}

.bgc3 {
    background-color: var(--color3);
}

.bgc4 {
    background-color: var(--color4);
}

.bgc5 {
    background-color: var(--color5);
}

.bgc7 {
    background-color: var(--color7);
}

.bgc8 {
    background-color: var(--color8);
}

.bgc10 {
    background-color: var(--color10);
}

/* size */

.w2 {
    width: 100%;
}

.w3 {
    width: 14rem;
}

.w4 {
    width: 30rem;
}

.h1 {
    height: 2.5rem;
}

.h2 {
    min-height: 90vh;
}

.mw1 {
    width: 32rem;
}

.mw2 {
    max-width: 100%;
}

.mw3 {
    max-width: 37.5rem;
}

/* image */

.img1 {
    max-width: 100%;
    height: auto;
}

.img2 {
    display: flex;
    max-width: 80%;
    height: auto;
    margin: auto;
}

.fatia-list-icon {
    width: 2rem;
    height: 2rem;
}

/* components */

.btn1 {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    background-color: var(--color1);
    padding: .875rem 1.375rem;
    border: solid 1px var(--color10);
    border-radius: 2rem;
    box-shadow: 0rem .25rem var(--color10);
    cursor: pointer;
}

.btn1:hover {
    transform: translateY(.25rem);
    transition: 250ms;
    box-shadow: none;
}

.btn2 {
    outline: none;
    border: none;
    background-color: unset;
    height: 2rem;
}

.btn3 {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    background-color: var(--color1);
    padding: .875rem 1.375rem;
    border: solid 1px var(--color10);
    border-radius: 2rem;
    box-shadow: 0rem .25rem var(--color10);
    cursor: pointer;
}

.btn3:hover {
    transform: translateY(.25rem);
    transition: 250ms;
    box-shadow: none;
}

.btn4 {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    background-color: var(--color1);
    padding: .875rem 1.375rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btn4:hover {
    background-color: var(--color4);
    transition: 250ms;
}

details {
    width: auto;
    padding: 0.5rem 0rem;
    border-bottom: solid 1px var(--color3);
}

summary {
    padding: 1rem 0rem;
    display: block;
    cursor: pointer;; 
}

summary:after {
    margin: 0 0 0 1rem;
    content: url(chevron-down.svg); 
    float: right;
} 

details[open] summary:after {
    content: url(chevron-up.svg);
}

.link {
    color: var(--color5);
    text-decoration: underline dotted;
    text-underline-position: under;
}

.link:hover {
    text-decoration: none;
}

.td1 {
    text-decoration: underline;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 1px;
    gap: 0.5rem;
    border: solid 1px rgb(177, 177, 177);
    padding: 2rem;
    background-color: var(--color5);
    max-width: 26rem;
    margin: auto;
}

.pf > li {
    padding: 1rem 0rem;
    border-bottom: solid 1px rgb(117, 117, 117);
}

li {
    list-style-position: inside;
}

ul {
    list-style: disc;
}

.sub li {
    list-style-type: lower-alpha;
}

dialog::backdrop {
    background-color: var(--color9);
    backdrop-filter: blur(0.25rem);
}

dialog {
    background-color: var(--color1);
    border: none;
}

.tar {
    border-radius: 1.25rem;
    border: solid 1px var(--color6);
}

.ck {
    position: fixed;
    bottom: 0;
    display: none;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--color10);
    border-top: solid 1px var(--color6);
}

.ck.show {
    display: flex;
}

/* media screen */

@media only screen and (min-width: 600px) {

    dialog {
        background-color: var(--color1);
        margin: auto;
        border: none;
    }

    .mw2 {
        max-width: 30rem;
    }

    .ck {
        position: fixed;
        bottom: 0;
        display: none;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
        background-color: var(--color10);
        border-top: solid 1px var(--color6);
    }
    
    .ck.show {
        display: flex;
    }

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

    .fs1 {
        font-size: 2.875rem;
    }

    .fs2 {
        font-size: 2.375rem;
    }

    .fs3 {
        font-size: 1.125rem;
    }
    
    .mw3 {
        max-width: 64rem;
    }

    .mw1 {
        width: 64rem;
    }

}
